@using ListaDeTarefas.Model

@model Tarefa

@{
    ViewData["Title"] = "Excluir Tarefa";
}

<div class="container">
    <h2>Excluir Tarefa</h2>
    <h3>Tem certeza que deseja excluir a tarefa "@Model.Nome"?</h3>
    <form asp-action="DeletarConfirmado" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-default">Cancelar</a>
        </div>
    </form>
</div>
